/.env
/.idea
/qodana
!/qodana/qodana.sarif.json
!/qodana/qodana-short.sarif.json

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
